torch>=2.1.2
torchvision
torchaudio
tqdm
datasets
scikit-learn==1.5.2
transformers
timm
accelerate
sentencepiece
protobuf
numpy
matplotlib
pandas
scikit_learn
pytest
pytest-cov>=3
seaborn
SciencePlots
jupyter
loguru
PyTurboJPEG
torchinfo
torchmetrics
wandb
opencv-python
deepspeed
gdown
h5py
av
easydict
termcolor
GPUtil
umap-learn
cca-zoo==2.5.0
peft
decord
ftfy
tables
zarr
